<div class="left-section">
  <div>
    <div class="heading3">Follow me ></div>
    <a
      href="https://www.linkedin.com/in/saquib-hazari/"
      class="social-icon btn-explore"
      ><i class="fa-brands fa-linkedin fa-sm"></i> Linkedin</a
    >
    <a href="https://discord.gg/hGrYrrA4" class="social-icon btn-explore"
      ><i class="fa-brands fa-discord fa-sm"></i> Discord</a
    >
    <a href="https://x.com/saquib7298" class="social-icon btn-explore"
      ><i class="fa-brands fa-twitter fa-sm"></i> Twitter</a
    >
  </div>
  <div class="description"><%- descriptionHtml %></div>
</div>
