<div class="footer-section">
    <div class="container-footer"></div>
    <div class="footer">
      <div class="container">
        <div class="container-contents">
          <div class="services">Services
            <div class="content-para"><a href="/api/services">Frontend</a></div>
            <div class="content-para"><a href="/api/services">Backend</a></div>
            <div class="content-para"><a href="/api/services">Cloud Deployment</a></div>
            <div class="content-para"><a href="/api/services">Serverless Deployment</a></div>
            <div class="content-para"><a href="/api/services#pricing">End to end Development</a></div>
          
          </div>
          <div class="services">About
            <div class="content-para"><a href="/api/services#faq">What I offer</a></div>
            <div class="content-para"><a href="/api/services#faq">How does it works</a></div>
            <div class="content-para"><a href="/api/services#faq">Pricing</a></div>
            <div class="content-para"><a href="/">About me</a></div>
            
          </div>
          <div class="services">Communities
            <div class="content-para"><a href="https://www.github.com">
              GitHub
            </a></div>
            <div class="content-para"><a href="https://aws.amazon.com/">
              AWS
            </a></div>
            <div class="content-para"><a href="https://www.docker.com/">
              Docker
            </a></div>
  
            
          </div>
          <div class="services social">
            <div class="content-para"><a href="https://www.linkedin.com/in/saquib-hazari/"><i class="fa-brands fa-linkedin fa-2x"></i></a></div>
            <div class="content-para"><a href="https://x.com/saquib7298"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a></div>
            <div class="content-para"><a href="/api/contact"><i class="fa-solid fa-inbox fa-2x"></i></a></div>
            <div class="content-para"><a href="https://discord.gg/hGrYrrA4"><i class="fa-brands fa-discord fa-2x"></i></a></div>
            <div class="content-para"><a href="https://github.com/Saquib-Hazari"><i class="fa-brands fa-github fa-2x"></i></a></div>
            
          </div>
        </div>


      </div>
      
    </div>
    <div><%- include('end-section') %></div>
  </div>
</div>
