<div class="introsection">
  <h1 class="heading">Contribution of Ideas</h1>
  <div class="heading-para mb-4">
    I'm Saquib, Building user-friendly application that engage all your senses,
    making every interaction feel natural, intuitive, and truly immersive.
  </div>
  <a class="btn" href="#projects">Projects</a>
</div>
