/* Creating the login form */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08),
    rgba(0, 0, 0, 0.2)
  );
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: var(--white-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
